{{#app-page
  repo='ember-cli-dropzonejs'
  repoOwner='lifegadget'
  subHeading='Drag and drop files into your Ember application using Dropzone.js'
  currentPath=currentPath
}}

  <h3>Sections</h3>
  <row>
    {{ui-nav-list
      items=items
      selected=selected
      position=left
      onChange='onChange'
    }}
    <description>
      {{outlet}}
    </description>
  </row>
{{/app-page}}
