<h4>Component Introduction</h4>
<p style='text-align:center'>
  <img src="http://zippy.gfycat.com/FineBitterChital.gif" alt="demo" height="265px">
</p>
<p>
  This component provides a simple way to add a drag-and-drop interface to your Ember application by leveraging the robust work of the <a href="http://www.dropzonejs.com/">Dropzonejs library</a>.
</p>

<p>
  Use the sectional navigation (to the left) to see interactive examples of this component's use.
</p>
